<div x-data="{open: null, toggle(id) {this.open = this.open === id ? null : id}}" class="w-full">

    <div class="border" x-data="{ id: 1 }">
        <button @click="toggle(id)"
                type="button"
                :aria-expanded="open === id"
                :aria-controls="`section${id}`"
                :id="`accordion${id}`"
                class="w-full text-left px-4 py-2 bg-slate-100 hover:bg-slate-200 focus:outline-none focus:ring focus:ring-slate-500 focus:ring-opacity-50">
            <span class="font-semibold">Accordion Item</span>
        </button>

        <div x-show="open === id"
             x-collapse
             x-cloak
             :id="`section${id}`"
             :aria-labelledby="`accordion${id}`"
             role="region"
             class="border-t">
            <div class="p-3">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis dolorem dolorum
                    exercitationem illo illum, iste itaque molestiae mollitia non nostrum officiis quae, qui quis
                    quisquam quo reprehenderit tenetur totam voluptatibus?
                </p>
            </div>
        </div>
    </div>

</div>
