<details class="border rounded-md group ">
    <summary class="font-bold cursor-pointer p-4 group-open:marker:text-purple-500 focus:outline-none focus:ring focus:ring-purple-500 focus:ring-opacity-50">Details</summary>
    <p class="border-t p-4">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto aspernatur, delectus dolor est
        expedita facere fuga illo illum ipsam iste iusto magnam mollitia pariatur quam rerum totam velit,
        voluptas voluptatem.
    </p>
</details>