<div x-data="{ open: false }" class="relative">

    <button @click="open = !open"
            @keyup.escape.window="open = false"
            type="button"
            :aria-expanded="open"
            aria-controls="menu"
            aria-haspopup="true"
            id="menu-button"
            class="inline-flex items-center justify-between px-4 py-2 text-white bg-purple-600 transition-colors hover:bg-purple-800 focus:outline-none focus:ring focus:ring-purple-500 focus:ring-opacity-50">
        <span class="font-semibold">Dropdown</span>
        <svg xmlns="http://www.w3.org/2000/svg"
             fill="none"
             viewBox="0 0 24 24"
             stroke-width="1.5"
             stroke="currentColor"
             :class="{'rotate-180': open}"
             class="w-5 h-5 ml-2">
            <path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5" />
        </svg>
    </button>

    <div x-show="open"
         x-transition:enter="transition ease-out duration-150"
         x-transition:enter-start="opacity-0 transform scale-95"
         x-transition:enter-end="opacity-100 transform scale-100"
         x-transition:leave="transition ease-in duration-150"
         x-transition:leave-start="opacity-100 transform scale-100"
         x-transition:leave-end="opacity-0 transform scale-95"
         x-cloak
         @click.away="open = false"
         id="menu"
         aria-labelledby="menu-button"
         role="menu"
         class="absolute z-10 min-w-10 min-w-60 mt-2 bg-white rounded-md shadow-lg">
        <ul class="py-1">
            <li role="menuitem">
                <a href="#"
                   class="block px-4 py-2 text-sm text-gray-700 hover:bg-slate-200 hover:text-gray-900 focus-visible:bg-slate-200 focus-visible:text-gray-900">
                    Item 1
                </a>
            </li>
            <li role="menuitem">
                <a href="#"
                   class="block px-4 py-2 text-sm text-gray-700 hover:bg-slate-200 hover:text-gray-900 focus-visible:bg-slate-200 focus-visible:text-gray-900">
                    Item 2
                </a>
            </li>
            <li role="menuitem">
                <a href="#"
                   class="block px-4 py-2 text-sm text-gray-700 hover:bg-slate-200 hover:text-gray-900 focus-visible:bg-slate-200 focus-visible:text-gray-900">
                    Item 3
                </a>
            </li>
        </ul>
    </div>

</div>