<label class="relative inline-flex w-10 bg-purple-300 rounded-full cursor-pointer focus-within:ring-2 focus-within:ring-offset-2 focus-within:ring-purple-500 focus-within:ring-opacity-50">
    <span class="sr-only">Toggle Title</span>
    <input type="checkbox" name="toggle" class="absolute opacity-0 peer -left-[200vw]">
    <span aria-hidden="true"
          class="inline-block left-0 w-5 h-5 transition duration-200 ease-in transform bg-white rounded-full shadow peer-checked:translate-x-5 peer-checked:bg-purple-800"></span>
</label>